<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt inżynierski</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/styles/css/style.css">
    <link rel="stylesheet" href="fix.css">
    
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="floor">
            <h3>Poziom 1</h3>
        </div>
        <div class="black-box"></div>
    </header>
    <main>
        <div class="floors">
            <p class="label">Poziom</p>
            <div class="list">
                <button class="item current">1</button>
                <button class="item">2</button>
            </div>
        </div>
        <div class="main-search">
            <div class="map">
            </div>
            <div class="shops-list">
                    <form action="">
                        <div class="search">
                            <input type="text" name="" id="" placeholder="Wpisz nazwę sklepu">
                        </div>
                    </form>
                    <ul>
                        <li class="title">a-z-9</li>
                        <li><button>4F</button></li>
                        <li><button>50 style</button></li>
                        <li class="title">a</li>
                        <li><button>a.</button></li>
                        <li><button>A.Blikle</button></li>
                        <li><button>Apart</button></li>
                        <li><button>Aqua El Zoo</button></li>
                        <li><button>Arianos</button></li>
                        <li class="title">b</li>
                        <li><button>Bacówka</button></li>
                        <li><button>Betito</button></li>
                        <li><button>Bierhalle</button></li>
                        <li><button>Bijou Brigitte</button></li>
                        <li><button>BOBOQ</button></li>
                        <li><button>Bonito</button></li>
                        <li><button>Bumbusie</button></li>
                        <li><button>Burger King</button></li>
                        <li><button>Bytom</button></li>
                    </ul>
            </div>
            <div class="categories">
                <p class="title">Pokaż według kategorii</p>
                <ul class="list">
                    <li><button>AGD & RTV</button></li>
                    <li><button>Artykuły spożywcze</button></li>
                    <li class="current"><button>Moda</button></li>
                    <li><button>Biżuteria</button></li>
                    <li><button>Prasa & Multimedia</button></li>
                    <li><button>Obuwie & torby</button></li>
                    <li><button>Restauracje i kawiarnie</button></li>
                    <li><button>Rozrywka</button></li>
                    <li><button>Sport i hobby</button></li>
                    <li><button>Dzieci</button></li>
                    <li><button>Usługi</button></li>
                    <li><button>Wnętrza i wyposażenie</button></li>
                    <li><button>Zdrowie u uroda</button></li>
                    <li><button>Inne</button></li>
                </ul>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- Slick Slider -->
    <script type="text/javascript" src="assets/slick/slick/slick.js"></script>

    <script src="assets/scripts/main.js"></script>
</body>
</html> 
