<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creaton</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/styles/css/style.css">
    <link rel="stylesheet" href="fix.css">
    
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet"> 

    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="assets/slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="assets/slick/slick/slick-theme.css"/>

    <!-- Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Hamburger -->
    <link rel="stylesheet" href="./assets/styles/css/hamburgers.css">

    <!-- WOW -->
    <link rel="stylesheet" href="./assets/styles/css/animate.css">
</head>
<body>
    <header>
        <div class="floor">
            <h3>Poziom 0</h3>
        </div>
        <div class="black-box"></div>
    </header>
    <main>
        <div class="floors">
            <p class="label">Poziom</p>
            <div class="list">
                <button class="item current">1</button>
                <button class="item">2</button>
            </div>
        </div>
        <div class="main-search">
            <div class="map">
                <div class="shop-logo">
                    <img src="assets/images/logo_new_yorker.svg" alt="">
                </div>
            </div>
            <div class="shops-list">
                <div class="shop-details">
                    <div class="top">
                        <h3 class="title">New Yorker</h3>
                        <p class="subtitle">moda</p>
                        <div class="desc">
                            <p>New Yorker należy do liderów europejskiej branży odzieżowej w segmencie Young Fashion. Posiada ponad 1000 lokalizacji w 40 krajach na świecie, w których oferuje swoim  klientom najnowsze trendy w modzie.</p>    
                            <p>Kolekcje tworzą marki własne FSBN, FB SISTER (odzież sportowa i streetwear) AMISU i SMOG (styl klasyczny i odzież wieczorowa) jak również CENSORED (bielizna i stroje kąpielowe), oraz marka ACCESSOIRES pełną wyróżniających się dodatków.</p>    
                            <p>Z New Yorker żaden trend Cię nie ominie. Zgodnie z mottem „Dress for the moment“ znajdziesz tu perfekcyjny outfit na każdą okazje.</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="qr-code">
                            <img src="assets/images/qr-code.svg" alt="">
                        </div>
                        <a href="" class="button">Wyznacz trasę</a>
                    </div>
                </div>
            </div>
            <div class="categories">
                <p class="title">Pokaż według kategorii</p>
                <ul class="list">
                    <li><button>AGD & RTV</button></li>
                    <li><button>Artykuły spożywcze</button></li>
                    <li class="current"><button>Moda</button></li>
                    <li><button>Biżuteria</button></li>
                    <li><button>Prasa & Multimedia</button></li>
                    <li><button>Obuwie & torby</button></li>
                    <li><button>Restauracje i kawiarnie</button></li>
                    <li><button>Rozrywka</button></li>
                    <li><button>Sport i hobby</button></li>
                    <li><button>Dzieci</button></li>
                    <li><button>Usługi</button></li>
                    <li><button>Wnętrza i wyposażenie</button></li>
                    <li><button>Zdrowie u uroda</button></li>
                    <li><button>Inne</button></li>
                </ul>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- Slick Slider -->
    <script type="text/javascript" src="assets/slick/slick/slick.js"></script>

    <script src="assets/scripts/main.js"></script>
</body>
</html> 
