header{
    height: 122px;

    .floor{
        position: absolute;
        top: 69px;
        left: 135px;

        h3{
            font-size: 28px;
            font-weight: 700;
        }
    }

    .black-box{
        height: 25px;
        width: 100%;
        background: #1B214B;
    }

}