.search .main-search .shops-list .shop-details .top .desc ul {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 0 20px;
}

.news .list .item .image{
    height: 385px;
}

.facilities .list .item .image{
    padding: 122px 0;
    height: 385px;
}

.popup-box .left .image{
    height: 704px;
    background: none;
    border: none;
}

.popup-box .left .image img{
    padding: 0;
}
